/*Generic Style Tweaks*/

h3 {
  margin-top:10px;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #c0c0c0;
  margin: 1em 0; padding: 0;
}
.page-header {
  border-bottom: 1px solid #c9c9c9;
}
.btn {
  border-radius: 2px;
}
.well-sm{
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

/*Styles for Link Tables*/

.table-bordered>thead>tr>th {
  border-bottom-width: 0px;
}
.table>thead>tr>th {
  vertical-align: middle;
}
.table{
  background-color: #fff;
}
th.score{
  text-align:center;
}

/*Vote Styling*/

.up-vote, .down-vote{
  cursor: pointer;
}
.glyphicon-arrow-up:hover {
  color:#5CB85C;
}
.glyphicon-arrow-down:hover {
  color:red;
}

/*Styles for Comment Tables*/

.comment-date{
  float: right;
}
