<div class="row well well-sm">
  <h4><span class="page-header">{{link.name}}</span></h4>
  <br>
  <form ng-submit="addComment()" class="form" role="form">
    <div class="form-group">
      <input type="text" ng-model="userName" class="form-control" placeholder="Enter Name">
    </div>
    <div class="form-group">
      <textarea class="form-control" rows="3" ng-model="commentData" placeholder="Enter Comment"></textarea>
    </div>
    <button type="submit" class="btn btn-success">Add Comment</button>
  </form>
</div>

<div class="row well well-sm" ng-show="link.comments.length">
  <div ng-show="link.comments.length">
    <h4>Comments List for {{ link.name }}</h4>
    <hr>
    <table ng-repeat="item in link.comments" class="table table-bordered">
      <thead>
        <tr>
          <th>
            <a class="label label-primary">{{ item.name }}</a> <span class="comment-date">
            <small>Posted: {{item.commentDate | date: 'short'}}</small></span>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            {{ item.commentData }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="row">
  <a class="btn btn-info" ui-sref="links" role="button">Back</a>
</div>
