<div class="row well well-sm">
  <h4><span class="label label-primary">Share Article</span></h4>
  <form ng-submit="addLink()" class="form-inline" role="form">
    <div class="form-group">
      <input type="text" ng-model="linkName" class="form-control" placeholder="News Title">
    </div>
    <div class="form-group">
      <input type="text" ng-model="rawUrl" class="form-control" placeholder="www.sample.com">
    </div>
    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>

<div class="row well well-sm">
  <div ng-show="links.length">
    <h3>Article List</h3>
    <hr>
    <table ng-repeat="item in links | orderBy: ['-isPinned','-score']" class="table table-bordered table-condensed" width="100%">
      <thead>
      <tr>
        <th colspan="1" width="90%">
          <a href="http://{{item.rawUrl}}">{{ item.name }}</a><span><small> ({{item.rawUrl}}) </small></span>
          <button ng-click="pinStory(item.id)" class="btn btn-info btn-xs pin-link">Pin</button>
        </th>
        <th colspan="2" class="score">
          <h5><span class="label label-default" ng-class="{ 'label-success' : item.score > 0, 'label-danger' : item.score < 0 }">{{item.score}}</span></h5>
        </th>
      </tr>
      </thead>
      <tr>
        <td>
          <a ui-sref="link({ id: item.id })"><small>go to comments ({{item.comments.length}})</small></a>
        </td>
        <td width="5%" align="center" class="up-vote" ng-click="upVote(item.id)">
          <a><span class="glyphicon glyphicon-arrow-up"></span></a>
        </td>
        <td width="5%" align="center" class=down-vote  ng-click="downVote(item.id)">
          <a><span class="glyphicon glyphicon-arrow-down"></span></a>
        </td>
      </tr>
    </table>
  </div>
</div>
